footer {
    background-color: rgb(52, 58, 64);
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5em;
    /* Set the fixed height of the footer here */
    line-height: 5em;
    /* Vertically center the text there */
}