html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5em;
    /* Margin bottom by footer height */
}

.logo {
    max-width: 100%;
    height: auto;
}

.custom-padding {
    padding: 2em;
}

.custom-width {
    width: 80%;
}

.custom-margin {
    margin: 2em auto;
}

.custom-image {
    width:60%; 
    height:auto; 
    align-self:center;
}

.login-card, .register-card {
    width: 50%;
}