html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5em;
    /* Margin bottom by footer height */
}

.logo {
    max-width: 100%;
    height: auto;
}

.custom-padding {
    padding: 2em;
}

.custom-width {
    width: 80%;
}

.custom-margin {
    margin: 2em auto;
}

.custom-image {
    width:60%; 
    height:auto; 
    align-self:center;
}

.login-card, .register-card {
    width: 50%;
    min-width: 250px;
}

.margin-top {
    margin-top: 1em;
}

.auto-margin {
    margin: 0 auto;
}

.top-margin {
    margin-top: 0.75rem;
}

.map-style { 
    border: 0;
    margin: 0 auto;
    width: 100%;
}

#submitButton {
    margin: 2rem 0;
}

.card-title {
    padding: 0 1.25rem;
}

.dark-mode {
    background-color:  rgb(52, 58, 64);
    color: #eee;
}

.achievement-card-title {
    text-align: center;
    margin: 0 auto;
}
